body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}
.board{
	width: 400px;
	margin: 30px auto 20px 100px;
}
.sqr{
	width: 120px;
	height: 120px;
	cursor: pointer;
	text-align:center;
	font-size: 50px;
	padding-top: 30px;
	
}

.bottom{
   
   border-bottom: 1px solid black;
}

.right{

        border-right: 1px solid black;
}

.margin{

	margin-top:50px;
	margin-left:100px;
}
.x{
	background-color: blue;
}
.o{
	background-color: red;
}
@media only screen and (max-width: 500px) {
    .board{
       width: auto;
	
	}
    .sqr{
	width: 70px;
	height: 70px;
	
    }

    .margin{

	margin-top:20px;
	margin-left:30px;
	margin-bottom: 20px;
}
}